$colour-primary: #31708e;
$colour-secondary: #5085a5;
:root {
  --primary: $colour-primary;

  --highlight: #db504a;

  --background: #f7f9fb;
  --dark: #2b2d42;
}

$button-hover-colour: lighten($colour-primary, 30%);

$tracker-background: lighten($colour-secondary, 40%);
