@import './colours.scss';
@import './layout_grid.scss';

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Serif', serif;
  font-size: 15px;
  margin: 0;
}

p {
  padding: 1em;
}

a {
  color: var(--highlight);
}

a:hover {
  color: var(--dark);
}

div {
  margin: 0px;
  padding: 0px;
  display: flex;
}

section {
  margin: 0px;
  padding: 0px;
  display: flex;
  background-color: var(--background);
  flex-direction: column;
  flex: 1;
}

span {
  font-weight: bold;
  color: var(--highlight);
}

header {
  font-size: 1.5rem;
  background-color: $colour-primary;
  color: var(--background);
  padding: $padding-l 0 $padding-l $padding-xl;
}

article {
  flex: 1;
  padding: $padding-3xl;
}

footer {
  background-color: var(--dark);
  color: var(--background);
  padding: $padding-l 0 $padding-l $padding-xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans JP', sans-serif;
  color: $colour-secondary;
  border-bottom: thin;
  text-decoration: underline;
  text-decoration-color: var(--highlight);
}

button {
  font-size: 1.2rem;
  background-color: var(--background);
  border: $padding-xs solid var(--dark);

  padding: $padding-m $padding-ml;
  border-radius: $padding-ml;
  height: fit-content;

  &:hover {
    background-color: $button-hover-colour;
  }
}

input {
  height: $padding-3xl;
  font-size: 1.2rem;
}
